@page { 
  margin: 20px !important; 
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}


.print {
  table {
    border-collapse: collapse;
  }

  &__container {
    width: 100%; 
  }

  &__header {
    width: 100%;

    &__logo {
      width: 85px;
      float: left;
      padding-top: 0px;
      
      img {
        width: 85px;
      }
    }

    &__issuer {
      float: left;
      width: 646px;
      padding-left: 20px;
      position: relative;
      
      p {
        margin: 0;
        padding: 0;
      }

      p:nth-child(1) {
        font-size: 22px;
        position: relative;
        margin-top: -10px;
      }

      p:nth-child(2) { position: relative; top: -10px;  }
      p:nth-child(3) { position: relative; top: -20px; }
    }

    &--option {
      position: absolute;
      top: 0;
      right: 0;

      table {
        tr {
          td {
            line-height: 16px;
          }
        }
      }
    }

    @include clearfix;
  }

  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    display: block;    
  }

  &__client {
    width: 100%;
    display: block;
    
    &__left {
      width: 350px;
      float: left;
    }

    &__right {
      width: 350px;
      float: right;
    }

    &__left, &__right {
      padding: 0px 10px 10px 10px;      
      border: 1px solid #333333;

      table {
        tr {
          td {
            line-height: 20px;
          }
        }
      }
    }
    
    @include clearfix;
  }

  &__order {
    width: 100%;
    display: block;
    margin-top: 20px;

    table {
      width: 100%;

      thead, tfoot {
        background-color: #dddddd;
      }
      
      thead, tfoot {
        tr {
          th {
            line-height: 18px;
            padding: 0px 5px 6px 5px;
            border: 1px solid #333333;
          }
        }
      }

      tbody {
        tr {
          td {
            line-height: 15px;
            padding: 0px 5px 5px 5px;
            border: 1px solid #333333;
          }
        }
      }
    }
  }
}