.bg-white{
  padding:10px;
  background-color:#fff;
}
.panel-content{
  border:none;
}
.panel-store .panel-body{
  min-height:100px;
}
.titlestore{
  background: #4bacc6;
  color: #fff;
  margin-top:0;
  padding:10px;
  width:100%;
  text-align: center;
  display: block;
}
.storename{
  padding-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
}
