/*
 * ECOMMERCE
 */
.cui-ecommerce-dashboard-info {
    margin-bottom: 30px;
}

.cui-ecommerce-dashboard-info__title {
    font-size: 16px;
    font-weight: 700;
    color: #24222f;
    margin-bottom: 15px;
    margin-top: 10px;
}

.cui-ecommerce-dashboard-info__description {
    font-size: 24px;
}

.cui-ecommerce-dashboard-info__block .nav-tabs a {
    font-size: 16px;
    font-weight: 700;
    color: #24222f;
}

.cui-ecommerce-dashboard-info__chart {
    padding-top: 20px;
    margin-bottom: 10px;
}

.cui-ecommerce-dashboard-info__chart__chart {
    padding-top: 20px;
    margin-bottom: 10px;
}

.cui-ecommerce--dashboard--list--img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #eceff4;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #ffffff;
    text-align: center;
}

.cui-ecommerce--dashboard--list--img img {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.cui-ecommerce--catalog--item {
    padding: 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #dfe4ed;
    margin-bottom: 35px;
    position: relative;
    background: #ffffff;
}

.cui-ecommerce--catalog--item--status {
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 25px;
    border-style: solid;
    width: 0px;
    height: 0px;
    border-color: #fb434a transparent transparent #fb434a;
    z-index: 10;
}

.cui-ecommerce--catalog--item--status--title {
    position: relative;
    top: -6px;
    left: -17px;
    display: block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.cui-ecommerce--catalog--item--img {
    position: relative;
    text-align: center;
    height: 250px;
}

.cui-ecommerce--catalog--item--img a {
    display: block;
}

.cui-ecommerce--catalog--item--img a img {
    /*min-height: 220px;
    max-height: 250px;*/
    max-width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.cui-ecommerce--catalog--item--img a:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.cui-ecommerce--catalog--item--title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #dfe4ed;
    padding-top: 15px;
    padding-right: 100px;
    position: relative;
}

.cui-ecommerce--catalog--item--title a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cui-ecommerce--catalog--item--descr {
    padding-right: 100px;
    font-style: italic;
    color: #bbb8cb;
}

.cui-ecommerce--catalog--item--descr--sizes {
    font-style: normal;
    margin: 15px 0px 10px;
}

.cui-ecommerce--catalog--item--descr--sizes span {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #eceff4;
    line-height: 14px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    padding: 3px 3px;
    min-width: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.cui-ecommerce--catalog--item--price {
    font-size: 26px;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: right;
}

.cui-ecommerce--catalog--item--price--old {
    font-size: 16px;
    font-weight: normal;
    text-decoration: line-through;
}

.cui-ecommerce--catalog--item--like {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #bbb8cb;
}

.cui-ecommerce--catalog--item--like--unliked {
    display: block;
}

.cui-ecommerce--catalog--item--like--liked {
    display: none;
}

.cui-ecommerce--catalog--item--like:hover .cui-ecommerce--catalog--item--like--unliked, .cui-ecommerce--catalog--item--like__selected .cui-ecommerce--catalog--item--like--unliked {
    display: none;
}

.cui-ecommerce--catalog--item--like:hover .cui-ecommerce--catalog--item--like--liked, .cui-ecommerce--catalog--item--like__selected .cui-ecommerce--catalog--item--like--liked {
    display: block;
}

.cui-ecommerce--catalog--item--like__selected {
    color: #827ca1;
}

.cui-ecommerce--catalog--item--img-remove {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 15px;
}

.cui-ecommerce--product--descr {
    margin-top: 10px;
    color: #827ca1;
}

.cui-ecommerce--product--option {
    margin-bottom: 20px;
}

.cui-ecommerce--product--option:last-child {
    margin-bottom: 5px;
}

.cui-ecommerce--product--option .cui-ecommerce--catalog--item--descr--sizes {
    margin: 0px;
}

.cui-ecommerce--product--option_title {
    color: #bbb8cb;
    margin-bottom: 10px;
}

.cui-ecommerce--product--price {
    font-size: 31px;
    font-weight: bold;
    margin: 20px 0px;
}

.cui-ecommerce--product--price-before {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: line-through;
    color: #827ca1;
    position: relative;
    top: -3px;
    font-weight: normal;
}

.cui-ecommerce--product--sku {
    float: right;
    color: #bbb8cb;
    text-align: right;
    margin-top: 3px;
}

.cui-ecommerce--product--rating {
    margin-top: 5px;
    color: #f2a654;
}

.cui-ecommerce--product--controls .btn {
    padding: 15px 40px !important;
}

.cui-ecommerce--product--controls .btn-link {
    margin-top: 3px;
    padding: 15px 15px !important;
}

.cui-ecommerce--product--photos {
    margin-left: -20px;
    margin-top: -15px;
}

.cui-ecommerce--product--photos-item {
    margin-left: 20px;
    width: -webkit-calc(25% - 20px);
    width: calc(25% - 20px);
    text-align: center;
    float: left;
    border: 1px solid #dfe4ed;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #ffffff;
}

.cui-ecommerce--product--photos-item img {
    width: 70px;
    max-width: 100%;
}

.cui-ecommerce--product--photos-item__active {
    border-color: #01a8fe;
}

.cui-ecommerce--product--main-title {
    margin-top: 20px;
}

.cui-ecommerce--product--info {
    /*margin-top: 40px;*/
}

.cui-ecommerce--cart .content {
    min-height: 100px;
}

.cui-ecommerce--cart .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
}

.cui-ecommerce--cart .actions {
    padding-top: 30px;
    border-top: 1px solid #dfe4ed;
}

.cui-ecommerce--cart table .text-right input[type=text] {
    display: inline-block;
    text-align: center;
}

.theme-inverse .cui-ecommerce--cart .actions {
    padding-top: 30px;
    border-color: #38354a !important;
}

.theme-inverse .cui-ecommerce--catalog--item--descr--sizes span {
    border-color: #38354a;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}
.ribbon-wrapper >  .ribbon {
    font: bold 12px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 4px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: #046490;
    z-index: 9;
    color: #fff;
}
.frame-color{
  width: 40px;
  display: inline-block;
  margin-right: 5px;
  height:100%;
  float:left;

}
.color-element > button{
  width:100%;
  text-align: left;
}
.color-element{

}
.color-element > .dropdown-toggle::after{
  float:right;
  margin-top: 10px;
}
.color-element > ul.dropdown-menu.show {
    margin-left: 0;
    width:100%;
    max-height: 220px;
    overflow-y: scroll;
}

.color-element ul.dropdown-menu.show li a {
    border-bottom: 1px solid #ccc;
    padding: 4px 5px;
    display: inline-block;
    width: 100%;
    height: 36px;
}
.btn{
  height: 34px !important;
}
.product-desc{
  z-index: 9;
  padding-top:5px;
  position: relative;
  height:60px;
  overflow: hidden;
}
/* Start product show
=========================================================================================== */

.favorite-icon{
  font-size: 26px;
  text-align: right;
  position: absolute;
  float: right;
  top:0;
  right:10px;
  cursor: pointer;
  color: #e4e4e1;
	z-index: 9;
}
.favorite-icon:hover i.fa{
  color: #e8bc02;
	font-size: 28px;
}

.favorite-icon.active {
    color: #e8bc02;
      font-size: 28px;
  }

/* Paginate
=========================================================================================== */

.e-paginate > div > ul{
  float:right;
}
.e-paginate > div > .pagination > li:first-child > a,
.e-paginate > div > .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.e-paginate > div > .pagination > li:last-child > a,
.e-paginate > div > .pagination > li:last-child > span {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.e-paginate > div > .pagination > .active > a,
.e-paginate > div > .pagination > .active > span,
.e-paginate > div > .pagination > .active > a:hover,
.e-paginate > div > .pagination > .active > span:hover,
.e-paginate > div > .pagination > .active > a:focus,
.e-paginate > div > .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}
.e-paginate > div > .pagination > li > a,
.e-paginate > div > .pagination > li > span {
    position: relative;
    float: left;
    padding: 2px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #271328;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
.e-paginate > div > .pagination > li > a:hover,
.e-paginate > div > .pagination > li > span:hover,
.e-paginate > div > .pagination > li > a:focus,
.e-paginate > div > .pagination > li > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

/*
.e-paginate > div >
*/
/* Paginate */
.panel-contact .panel-heading>h3{
  padding:0;
  margin:0;
}
.panel-contact .panel-body{
  padding:10px 0 0 0;
}

.panel-contact .panel-body .col-md-6 .panel-address{
  border:1px solid #ddd;
  border-radius:2px;
  min-height: 250px;
  padding:20px;
}
.panel-contact .panel-body h4:first-child{
  margin:0;
}
.panel-contact .panel-body h4{
  margin-top:24px;
  margin-bottom: 0;
}
.padding-left-0{
  padding-left:0 !important;
}
.padding-right-0{
  padding-right:0 !important;
}
.wizard > .actions {
    width:100% !important;
}
.tab-order > li{
  margin-right:10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active a.active {
    color: #495057;

}
.nav-tabs.tab-order > li > a {
 /*   background-color: rgb(255, 204, 102);*/
    color:#fff !important;
}
.nav-tabs.tab-order > li > a.active,
.nav-tabs.tab-order > li.active > a.active{
    color:#fff !important;
    background-color: rgb(204, 204, 204);
}
.table>thead>th,
.table > thead > tr > th{
  vertical-align: middle !important;
}
.order-precess ul{
  list-style: none;
}

.cart-fab {
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: fixed;
    left: auto;
    right: 0;
    margin-right: 50px;
    margin-top: 30px;
    z-index: 1031;
}

.cart-fab-content {
    position: relative;
}

.cart-fab-content img {
    width: 55px;
}

.cart-fab-content  .item-count {
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    position: absolute;
    display: block;
    right: -3px;
    top: -5px;
}