.fa.fa-eye.form-control-feedback.right.show-password{
  cursor: pointer;
  z-index: 99;
}


.section2 {
    margin-top: 130px;
}

.card-container.card {
    max-width: 100%;
    padding: 40px 20px;
    height: 100% !important;
}
.carousel-item{
  background-size: 100% 100%;
  max-height: 425px;
}
.card-container.card.form-login{
  max-width: 100%;
}

.input-password{
  position: relative;
  z-index: 0;
}

.login-description{
  margin-top: 20px;
}
.login-description span{
  color:#01b0f1;
}
.login-description .panel{
  padding:0;

}
.login-description .panel-body{
  padding:10px;
}
.login-description .panel-heading{
  background:#169bd4;
  padding:10px;
  color:#fff;
  font-weight: bold;
}
