.navbar-nav li{
    list-style-type:none;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
/*
img.mainlogo{
  height: 160px;
  width: auto;
}*/
.navbar-toggle {
    border-color: #333;
}
.navbar-header {
    background: none !important;
}
.bell {
    display: inline-block;
    position: relative;
    width: auto;
    height: 42px;
    text-align: center;
}
.bellnumbers {
    font-size:12px;
    background-color:red;
    width:20px;
    line-height: 20px;
    text-align: center;
    color:#fff !important;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    left: 40px;
    top:-5px;
}

.navbar.top-menu .navbar-menu  img{
  max-height: 24px;
  width: auto;
}
.navbar.top-menu .nav-item{
  margin-right:4px;
}
.navbar.top-menu .navbar-menu .bellnumbers {
    font-size: 10px;
    background-color: red;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    border-radius: 12px;
    position: absolute;
    left: 14px;
    top: -12px;
}
.ul-top-menu > li{
  padding-left:28px;
  position:relative;
  display:inline-block;
  height: 32px;
}
.ul-top-menu > li img{
  position:absolute;
  left:0;
}
@media (min-width:768px){
  body{
    padding-top:120px;
  }
  .navbar.top-menu .navbar-brand{
    width: 100%;
    padding:0;
    min-width: 80px;

  }
  .navbar.top-menu .navbar-brand>img{
    padding:0;
    height: 120px;
    margin-top:-10px;
  }
  .navbar-toggle{
    position: absolute;
  }
  .navbar.top-menu .navbar-header .navbar-brand {
    height: auto;
  }
  .navbar.top-menu .input-group {
    display: inline-block;
  }
  .input-group-btn {
    position: absolute;
    right: 0;
  }
  .navbar-right {
     margin-right: 0;
  }

}

@media (max-width:991px){
  .ul-search,
  .ul.member,
  .ul-top-menu{
    width: 100%;
    display:block !important;
  }
  .ul-search > li,
  .ul-member > li{
    width: 95%;
    text-align: left;
    display: block;
  }
  .ul-member.navbar-right{
    width:100%;
    width:100%;
    margin:0;
    padding:4px;
  }
  .ul-top-menu > li{
    width: 100%;
  }
  .bell {
    left:-26px;
  }
  a:hover .bell{
    left:0;
  }

}
@media (max-width: 767px) {
    .navbar.top-menu .navbar-header {
      width:100%;
    }
    .navbar.top-menu .navbar-brand>img {
        height: 100%;
        padding: 0;
        width: auto;
    }
}
