/* #nestable1 a{color:#00BFFF !important;} */
#nestable1 a{color:#5500ff !important;
font-weight: bold;}
.modal-lg {
    max-width: 1000px!important;
    margin: 0 auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color:blue !important;
	border:none;
}
.modal-dialog-invoice {
    position: relative;
    width: auto;
    margin: 10px;
    width: 1000px;
	margin: 30px auto;
}
a.nav-link.tab2:hover,
a.nav-link.tab1:hover,
a.nav-link.tab2:active,
a.nav-link.tab1:active{
  background: #868e96 !important;
}

button.close{
	position:absolute;
	right: 24px;
}

a.nav-link.tab2 {
    background: orange;
}
a.nav-link.tab1 {
    background: blue;
}
.datelbl{
  float: left;
  padding-top: 5px;
}
.total_price{color:#00BFFF;}
.invoice-header h4{
  margin:4px 0;
}
.modal-title{
  margin:5px 0;
  color: #0f258b;
}
.text-blue{
  color: #0f258b;
}
.x_content{
  background: transparent !important;
}
.invoice-header p{
  line-height: 1.4;
  padding:0;
  margin: 2px;
}
tfoot > tr > td{
  background: #ddd;
  vertical-align: middle;
  color:#000;
}
#invoiceModal .modal-title,
#OrderStatusModal .modal-title,
#OrderDetailModal .modal-title,
#OrderHistoryModal .modal-title,
#TaxModal .modal-title,
{
  margin:0;
}
#invoiceModal .modal-header,
#OrderStatusModal .modal-header,
#OrderDetailModal .modal-header,
#OrderHistoryModal .modal-header,
#TaxModal .modal-header{
  /*padding:4px 10px;*/
  /* background: #c4fffd; */
  background: #ccddff;
  color:#000;
}

#invoiceModal .inv-header,
#OrderStatusModal .inv-header,
#OrderDetailModal .inv-header,
#OrderHistoryModal .inv-header,
#TaxModal .inv-header
{
  /* background: #fbfbbe; */
  background: #FFF8AA;
  padding:10px;
  margin-bottom: 10px;
}
#invoiceModal .modal-footer,
#OrderStatusModal .modal-footer,
#OrderDetailModal .modal-footer,
#OrderHistoryModal .modal-footer,
#TaxModal .modal-footer
{
  display:block;
  text-align: center;
}
#invoiceModal .modal-footer > button,
#OrderStatusModal .modal-footer > button,
#OrderDetailModal .modal-footer > button,
#OrderHistoryModal .modal-footer > button,
#TaxModal .modal-footer > button
{
  margin:auto;
}

#invoiceModal .modal .modal-body,
#OrderStatusModal .modal .modal-body,
#OrderDetailModal .modal .modal-body,
#OrderHistoryModal .modal .modal-body,
#TaxModal .modal .modal-body{
  padding:10px;
}

@media print {
  .page-content > .content,
  #invoiceModal ,
  #OrderHistoryModal,
  .bg-toa{
    display: none;
  }
  .modal-lg {
      max-width: 100% !important;
      margin: 0 auto;
  };
}
#OrderHistoryModal .modal-title{
  margin:0;
}

#invoiceModal .table > thead > tr > th,
#OrderStatusModal .table > thead > tr > th,
#OrderDetailModal .table > thead > tr > th,
#OrderHistoryModal .table > thead > tr > th,
#TaxModal .table > thead > tr > th
{
  background: #D2C9E2;
  border-right: 1px solid #ffffff !important;
}
tr.info>th {
    border-right: 1px solid #fff;
}
ul.bar-year {
    padding: 0px;
}
ul.bar-list {
    padding: 0;
}
.footer-popup{
    background: #D2C9E2;
}
.progress-bar {

    background-color: darkorange;
  }
.ordertoggle {
  padding-left: 15px;
  margin: 0 !important;
}