#nestable1 a{color:#00BFFF !important;}
.modal-lg {
    max-width: 1000px!important;
    margin: 0 auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color:blue !important;
	border:none;
}
.modal-dialog-invoice {
    position: relative;
    width: auto;
    margin: 10px;
    width: 1000px;
	margin: 30px auto;
}
a.nav-link.tab2:hover,
a.nav-link.tab1:hover,
a.nav-link.tab2:active,
a.nav-link.tab1:active{
  background: #868e96 !important;
}

a.nav-link.tab2 {
    background: orange;
}
a.nav-link.tab1 {
    background: blue;
}
.datelbl{
  float: left;
  padding-top: 5px;
}
.total_price{color:#00BFFF;}
.invoice-header h4{
  margin:4px 0;
}
.modal-title{
  margin:5px 0;
}
.x_content{
  background: transparent !important;
}
.invoice-header p{
  line-height: 1.4;
  padding:0;
  margin: 2px;
}
tfoot > tr > td{
  background: #ddd;
  vertical-align: middle;
  color:#000;
}
#invoiceModal .modal-title{
  margin:0;
}
#invoiceModal .modal-header{
  /*padding:4px 10px;*/
  background: #c4fffd;
  color:#000;
}
#invoiceModal .inv-header{
  background: #fbfbbe;
  padding:10px;
  margin-bottom: 10px;
}
#invoiceModal .modal-footer{
  display:block;
  text-align: center;
}
#invoiceModal .modal-footer > button{
  margin:auto;
}
#invoiceModal .modal .modal-body,
#invoiceModal .modal .modal-body{
  padding:10px;
}
@media print {
  .page-content > .content,
  #invoiceModal ,
  #OrderHistoryModal,
  .bg-toa{
    display: none;
  }
  .modal-lg {
      max-width: 100% !important;
      margin: 0 auto;
  };
}
#OrderHistoryModal .modal-title{
  margin:0;
}
#OrderHistoryModal .modal-header{
  /*padding:4px 10px;*/
  background: #c4fffd;
  color:#000;
}
#OrderHistoryModal .inv-header{
  background: #fbfbbe;
  padding:10px;
  margin-bottom: 10px;
}
#OrderHistoryModal .modal-footer{
  display:block;
  text-align: center;
}
#OrderHistoryModal .modal-footer > button{
  margin:auto;
}
#OrderHistoryModal .modal .modal-body,
#OrderHistoryModal .modal .modal-body{
  padding:10px;
}