.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.p-0 {
  padding: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.p-5 {
  padding: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.p-10 {
  padding: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.p-15 {
  padding: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.p-20 {
  padding: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.p-25 {
  padding: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.p-30 {
  padding: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.p-35 {
  padding: 35px !important; }

.w100 {
  width: 100% !important; }

.text-red {
  color: red; }

.text-bold {
  font-weight: bold; }

.page-break {
  page-break-after: always; }

.modal .modal-dialog .modal-content .modal-header button {
  font-size: 30px;
  top: 15px;
  color: red; }

.modal.modal-cart .modal-dialog {
  overflow-y: initial !important; }
  .modal.modal-cart .modal-dialog .modal-content {
    border-radius: 0px !important; }
    .modal.modal-cart .modal-dialog .modal-content .modal-header {
      background-color: #bfebee; }
      .modal.modal-cart .modal-dialog .modal-content .modal-header .modal-title {
        margin: 0px;
        font-weight: bold; }
    .modal.modal-cart .modal-dialog .modal-content .modal-body {
      max-height: calc(100vh - 175px);
      overflow-y: auto; }
      .modal.modal-cart .modal-dialog .modal-content .modal-body .item {
        width: 100%;
        display: block;
        padding-left: 43px;
        position: relative; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item__remove {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          border: 2px solid red;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          line-height: 30px; }
          .modal.modal-cart .modal-dialog .modal-content .modal-body .item__remove i {
            font-size: 19px;
            color: red; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item__code {
          width: 100%;
          display: block;
          font-size: 15px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item__name {
          width: 100%;
          display: block;
          font-size: 15px;
          margin-bottom: 5px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item__image {
          width: 85px;
          float: left; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item__detail {
          width: 325px;
          padding-left: 10px;
          float: right; }
          .modal.modal-cart .modal-dialog .modal-content .modal-body .item__detail ul {
            font-size: 15px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item:after {
          content: '';
          display: table;
          clear: both; }
      .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom {
        padding-left: 50px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom .item__code, .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom .item__name {
          font-size: 13px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom .item__image {
          width: 70px; }
        .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom .item__detail {
          width: 333px; }
          .modal.modal-cart .modal-dialog .modal-content .modal-body .item.bom .item__detail ul {
            font-size: 13px; }
    .modal.modal-cart .modal-dialog .modal-content .modal-total {
      padding: 15px;
      border-top: 1px solid #e5e5e5; }

.modal.right.fade .modal-dialog {
  right: -320px;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }
.modal.right.fade.in .modal-dialog {
  right: 0; }

/*# sourceMappingURL=style.css.map */
